body {
	background-color: #FFFDD0;
	opacity: 1;
	background-image: linear-gradient(#000000 0.8px, transparent 0.8px), linear-gradient(to right, #000000 0.8px, #FFFDD0 0.8px);
	background-size: 16px 16px;
	font-family: Helvetica, sans-serif;
	padding: 20px;
}

header {
	background-color: #FFFDD0;
	border-style: solid;
	border-width: 3px;
	border-color: #2E00FF;
	color: #2E00FF;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	padding: 1em 0;
	text-align: center;
	font-family: Danfo;
	font-size: x-large;
	max-width: 800px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #2E00FF;
}

h1 {
	font-family: "Holtwood One SC", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 1em;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.hero {
	padding: 2em 0;
}

.hero h1 {
	margin: 0;
	font-size: 2.5em;
}

section {
	padding: 2em 0;
	text-align: center;
}

#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio-item {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
	max-width: 100%;
}

form {
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
}

label {
	display: block;
	margin-bottom: .5em;
}

input,
textarea {
	width: 100%;
	padding: .5em;
	margin-bottom: 1em;
	border: 1px solid #ccc;
}

button {
	padding: .5em 1em;
	background: #2E00FF;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background: #2E00FF;
}

footer {
	background: #2E00FF;
	color: white;
	text-align: center;
	padding: 1em 0;
	font-family: Helvetica, sans-serif;
}

.button-54 {
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #2E00FF;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-54:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

.about-container {
	display: flex;
	flex-direction: row;
	padding: 20px;
	max-width: 800px;
	border-radius: 8px;
	justify-content: center;
	margin: 0 auto;
}

.column.about-photo img {
	max-width: 300px;
	margin-right: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #2E00FF;
}

.column.about-text {
	max-width: 600px;
	text-align: left;
}

.about-text h1 {
	margin-top: 0;
	background-color: #FFFDD0;
}

.about-text p {
	margin-top: 0;
	line-height: 1;
	background-color: #FFFDD0;
	text-align: left;
}

.rect {
	background-color: #FFFDD0;
	max-width: 800px;
	border-style: solid;
	border-width: 3px;
	border-color: #2E00FF;
	color: #2E00FF;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.design-container,
.contact-container,
.photography-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 800px;
	border-radius: 8px;
	justify-content: center;
	margin: 0 auto;
}


.poster img{
	padding: 10px;
    max-width: 200px;
}

.solo-poster img{
	padding: 10px;
    max-width: 60%;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
}


/* Mobile Styles */
@media (max-width: 768px) {

	header,
	.about-container,
	.design-container,
	.contact-container,
	.photography-container {
		padding: 10px;
		width: 100%;
        align-items: center;
        margin: auto;
        flex-direction: column;
	}

	.about-container,
	.design-container,
	.contact-container,
	.photography-container {
		flex-direction: column;
		padding: 10px;
	}

	.column.about-photo img {
		max-width: 50%;
		margin: 0 0 20px 0;
	}

	.portfolio-item {
		width: calc(100% - 2em);
		margin: 1em 0;
	}

	nav ul li {
		display: block;
		margin: 0.5em 0;
	}

	.hero h1 {
		font-size: 2em;
	}

	.button-54 {
		font-size: 14px;
		padding: 0.5em 1em;
	}
}